<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RestAssured.Tests.CreateBookingRequest"/>
      <class name="RestAssured.Tests.GenerateToken"/>
      <class name="RestAssured.Tests.UpdateBookingDetaiils"/>  
      <class name="RestAssured.Tests.PatchRequest"/>  
      <class name="RestAssured.Tests.GetBookingDetails"/>   
       <class name="RestAssured.Tests.DeleteAPIRequest"/>
      <class name="RestAssured.Tests.CreateBookingUsingTextFile"/>
      <class name="RestAssured.Tests.GetAllBookingIDs"/>
      <class name="RestAssured.Tests.CreateBookingUsingPojoClasses"/>
       
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
